/* Geral */
* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top,
footer {
  align-self: stretch;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}
/* Fim Geral */

/* Inicio top */

#top {
  height: 60vh;
}

header h4 {
  font-size: 24px;
  color: #f9faf8;
}

header {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}

#apresentation {
  display: flex;
  justify-content: center;
}

#apresentation > div {
  flex-basis: 35vw;
}

#apresentation h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

#apresentation p,
a,
li {
  font-size: 18px;
  color: #e5e7eb;
}

.button1 {
  margin-top: 5%;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  padding: 5px 22px 5px 22px;
  border-radius: 8px;
  border-width: 0px;
}

.button1:hover {
  cursor: pointer;
}

.button1:active {
  background-color: #204e97;
  transform: translateY(4px);
}
/* Fim top */
/* Inicio content */

#content {
  align-self: stretch;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

#content > h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

#cards{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5vw;
}

.card{
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 4vw;
  flex-direction: column;
  align-items: center;
}
.card > *{
  text-align: center;
}
/* Fim content */
/* Inicio quote */

#quote{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-color: #E5E7EB;
}
.quote{
  display: flex;
  flex-direction: column;
  width: 50vw;
}
q{
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}
.quote > p {
  font-size: 26px;
  font-weight: bolder;
  align-self: flex-end;
}
/*  Inicio  signup*/
#signup{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block{
  border-radius: 13px;
  display: flex;
  background-color: hsl(217, 91%, 59%);
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 15vh;
}
.block > *{
  color: #e5e7eb;
}
.button2{
  margin: 0;
  border: 2px solid #e5e7eb;
}

/* Fim   signup*/

/* Inicio footer */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color:#e5e7eb ;
  font-size: 18px;
}
/* Fim footer */